JavaApplication11/xml-resources/web-service-references/NewWebService/wsdl/localhost_13053/ass1/NewWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webService/" name="NewWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://webService/" schemaLocation="http://localhost:13053/ass1/NewWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="Template">
<part name="parameters" element="tns:Template"/>
</message>
<message name="TemplateResponse">
<part name="parameters" element="tns:TemplateResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="Features">
<part name="parameters" element="tns:Features"/>
</message>
<message name="FeaturesResponse">
<part name="parameters" element="tns:FeaturesResponse"/>
</message>
<message name="JSONException">
<part name="fault" element="tns:JSONException"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<portType name="NewWebService">
<operation name="Template">
<input wsam:Action="http://webService/NewWebService/TemplateRequest" message="tns:Template"/>
<output wsam:Action="http://webService/NewWebService/TemplateResponse" message="tns:TemplateResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://webService/NewWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://webService/NewWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="Features">
<input wsam:Action="http://webService/NewWebService/FeaturesRequest" message="tns:Features"/>
<output wsam:Action="http://webService/NewWebService/FeaturesResponse" message="tns:FeaturesResponse"/>
<fault message="tns:JSONException" name="JSONException" wsam:Action="http://webService/NewWebService/Features/Fault/JSONException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://webService/NewWebService/Features/Fault/IOException"/>
</operation>
</portType>
<binding name="NewWebServicePortBinding" type="tns:NewWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Template">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Features">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JSONException">
<soap:fault name="JSONException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
</operation>
</binding>
<service name="NewWebService">
<port name="NewWebServicePort" binding="tns:NewWebServicePortBinding">
<soap:address location="http://localhost:13053/ass1/NewWebService"/>
</port>
</service>
</definitions>